In [10]:
a= 10
b = 3.5
c = "hello"
d = True
print(type(a))

type(d)

<class 'int'>

bool

In [41]:
for i in range (6):
  print(i)

0
1
2
3
4
5

In [15]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
for i in range(1,11):
  if i % 2 ==0:
    print(i)

2
4
6
8
10

In [17]:
numbers = [10,20,30,40,50]

for num in numbers:
  if i > 20:
    print(num)

30
40
50

In [19]:
numbers = [5,10,15]
total = 0
for num in numbers:
  total = total + num

print(total)

30

In [26]:
names=["A", "B","C"]
for i in range(len(names)):
  print (i,names[i])

0 A
1 B
2 C

In [29]:
i = 1
while i <= 5:
  print (i)
  i = i+1

1
2
3
4
5

In [30]:
i = 5
while i > 0:
  print(i)
  i -= 1

5
4
3
2
1

In [35]:
for i in range (1,10):
  if i == 5:
     break
  print(i)

1
2
3
4

In [37]:
for i in range(1,6):
  if i == 4:
      continue
  print(i)

1
2
3
5

In [40]:
for i in range (1,4):
    for j in range(1,4):
       print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [62]:
numbers = [10,20,30,40]
#access
numbers[2]

numbers.append(50)
print(numbers)


numbers.remove(20)
print(numbers)

print(len(numbers),"length")
print(min(numbers))
max(numbers)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]
4 length
10

50

In [60]:
numbers = [10,20,30,40]
total = 0
for num in numbers:
  total = total + num

print(total)

100

In [73]:
students = {"name": "ishu",
            "age":21,
            "marks":85,}

print(students)
students["marks"]

#add
students["grade"] = "A"
print(students)

#update
students["marks"] = 100
print(students)

{'name': 'ishu', 'age': 21, 'marks': 85}
{'name': 'ishu', 'age': 21, 'marks': 85, 'grade': 'A'}
{'name': 'ishu', 'age': 21, 'marks': 100, 'grade': 'A'}

In [102]:
students = {
   1:{"name": "ishu",
    "age":21,
    "marks":85,},

   2:{"name": "jiks",
    "age": 21,
    "marks": 100},

    3:{"name": "khush",
    "age": 16,
    "marks": 95}
}
highest =0
print(students)

for student in students.values():
    if student["marks"] > highest:
       highest= student["marks"]
print(highest)

{1: {'name': 'ishu', 'age': 21, 'marks': 85}, 2: {'name': 'jiks', 'age': 21, 'marks': 100}, 3: {'name': 'khush', 'age': 16, 'marks': 95}}
100

In [110]:
import pandas as pd
data = {
    "name":["A","B","C"],
    "Marks": [70,80,90]
}
df = pd.DataFrame(data)
df
df.head()

  name  Marks
0    A     70
1    B     80
2    C     90

In [111]:
df.shape

(3, 2)

In [112]:
df.columns

Index(['name', 'Marks'], dtype='object')